Eksport import settings version

Add new portal dynamic
    - connection tester

Add link manually
    - individual   [column 'manual']
        - but it needs to be exported as a part of configuration

Delete link
    - also through filter

Komponent do filtrow
    How to store filters? (maybe json in text field, might be sufficient ?)

Overriding settings (indicator in listing)
    - individually or   [column 'settings']
    - through filters
        - tester

excludowanie
    - individually
    - through filter
        - tester

triggering:
    - individually
    - through batch
    - all links
    - TRIGGER OTHER PAGES IF THIS IS CHANGING MANUALLY
        - filter

Other:
    Exclude javascript: in href
    Security w prerender - basic auth or JWT
    Prerender detection in browser under window.prerender
        - change in settings


http://www.lymphomahub.com/therapies/licenses//settings//subtype//trials/0/drug//page/3/2/keyword//location//region/

http://www.lymphomahub.com/therapies/licenses/FDA,EMA/settings//subtype//trials/0/drug//page/1/2/keyword//location//region/

http://www.lymphomahub.com/medical-information/categories//page/1/10/keyword/


// regexp serialization in json:
//      https://github.com/vkiryukhin/jsonfn/blob/master/jsonfn.js

 where xx and ((www and ttt) or zz)
 [
 ]
 {
    t: 'bool'
    f: 'and',
    v: [
        {
            t: 'regexp',
            f: (true|false),
            v: /^therapies/
        },
        {
            t: 'string'
            f: (true|false),
            v: '//settings'
        },
        {
            t: false,
            f: 'or',
            v: [
                {
                    t: true
                    f: (true|false),
                    v: /^therapies/
                },
                {
                    t: true
                    f: (true|false),
                    v: /^therapies/
                },
            ]
        }
    ]
 }


---- db layout ----

# node machine:






