@import "variables";
@import "mixins";

body {
    padding: 20px;
}


body #parent {
    @include border-radius(5px);
}
.buttons {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.slider-label {
    margin: 0 0 1px 0;
}

.urlbox {
    display: flex;
    & > button {
        flex-basis: 88px;
    }
}